streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
faiss-cpu
chromadb
sentence-transformers
transformers
rank-bm25
pypdf
PyPDF2
docx2txt
python-docx
python-pptx
openpyxl
unstructured[ppt]
